.Browse{
   width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 50px; 
    color: white;
}


.fileNameLabel{
    color: #FFF;
text-align: center;
font-family: Outfit;
margin-top: -50px;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 5.6px;
}

/* Common styles for all devices */
.Browse {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 50px;
    color: white;
    position: relative;
  }
  #uploading{
    margin-top: 18%;
  }
  .fileNameLabel {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: -30px;
  }
  
  /* Media query for small screens (up to 480px, e.g., mobile devices) */
  @media (max-width: 480px) {
    .Browse {
    /* Adjust width and height for smaller screens */
    width: 20%; /* Adjust the width to your preference */
    height: 70vh; /* Adjust the height to your preference */
    /* Reduce gap between items */
  }
    .fileNameLabel {
      font-size: 16px; /* Adjust font size for smaller screens */
      letter-spacing: 1px; /* Modify letter spacing */
      margin-top: -20px; /* Adjust margin-top */
    }
  }
  
  /* Media query for medium-sized screens (481px to 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    .Browse {
        /* Adjust width and height for medium-sized screens */
        width: 70%; /* Adjust the width to your preference */
        height: 60vh; /* Adjust the height to your preference */
         /* Modify gap between items */
      }
    .fileNameLabel {
      font-size: 17px; /* Adjust font size for medium-sized screens */
      letter-spacing: 1.5px; /* Modify letter spacing */
      margin-top: -25px; /* Adjust margin-top */
    }
  }
  
